html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
      box-sizing: border-box;
}




.content-heading {
      font-family: 'Poppins', sans-serif;
      font-size: 45px;
      font-weight: bold;
      letter-spacing: 2px;
      display: flex;
      justify-content: space-between;
      
}

.heading {
      /*width: 100%;*/
      /*max-height: 200px;*/
      /*display: flex;*/
      margin-top: 50px;
      margin-bottom: 100px;
}

.content-heading h1 {
      max-width: 850px;
      text-indent: 40px;
      color: #1b2a42;
}

.navigation ul {
      display: flex;
      margin-right: 70px;
}

li {
      line-height: 45px;
}

li a {
      text-decoration: none;
      font-family: 'Montserrat', sans-serif;
      margin: 0 50px;
      font-size: 21px;
      color: #1b2a42;
      opacity: 0.6;
      transition: .1s ease !important;
}

li a:hover {
      color: crimson;
      transform: scale(1.15);
      border-bottom: 3px solid crimson;
      border-radius: 1px;
}



@keyframes malvin {
      0%   {color: #314e7d;}
      25%  {color: crimson;}
      50%  {color: #314e7d;}
      75%  {color: crimson;}
      100%  {color: #314e7d;}
}
    
    /* The element to apply the animation to */
.content-heading h1 {
      animation: malvin infinite 5s;
}

body {
      background-image: url(../img/wave-opacity.png);
      object-fit: cover;
      background-size: 100%;
      background-repeat: no-repeat;
}



/***********************************************************/
/***********************************************************/
/***********************************************************/
/***********************************************************/

.content {
      max-width: 1500px;
      margin: auto;
      /*background-color: lightseagreen;*/
}

.head-content span {
      color: crimson;
}

.body-content {
      display: flex;
      justify-content: space-evenly;
}

.head-content {
      text-align: center;
      font-size: 70px;
      font-family: 'Prompt', sans-serif;
      color: #314e7d;
      margin: 50px;
      letter-spacing: 1px;
}

.body-content h1 {
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      letter-spacing: 1px;
      font-weight: bold;
      word-spacing: 1px;
      color: white;
      text-align: center;
      padding: 20px 0;
      background-image: linear-gradient(#314e7d, white);
}

.html, .css, .js {
      max-width: 300px;
      max-height: 400px;
      border-radius: 10px;
      transition: .3s ease !important;
      overflow: hidden;

}

.js:hover, .html:hover, .css:hover {
      transform: scale(1.05);
}


.body-content p {
      padding: 0 15px 15px;
      font-family: 'Montserrat', sans-serif;
      font-size: 17px;
      letter-spacing: 0.5px;
      word-spacing: 1px;
      background-image: url(../img/whitebook-HD-opacity\(2\).png);
      object-fit: cover;
      background-size: 100%;
      /*color: #314e7d;*/
      color: rgb(109, 108, 108);
}

/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/


@media (min-width: 768px) and (max-width: 1199px) {


      .content-heading {
            flex-wrap: wrap;
      }

      body {
            background-image: url(../img/whitebook-HD-opacity\(2\).png);
            background-repeat: no-repeat;
            background-size: 180% 100%; 
      }

      .content-heading h1 {
            max-width: 768px;
            text-indent: 50px;
            color: #1b2a42;
            text-align: center;
            font-size: 35px;
      }

      .navigation {
            margin-top: 30px;
            max-width: 768px;
      }

      .navigation ul li a {
            font-size: 20px;
      }

      .head-content {
            text-align: center;
            font-size: 50px;
            font-family: 'Prompt', sans-serif;
            color: #314e7d;
            margin: 50px;
            letter-spacing: 2px;
      }

      .body-content {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
      }

      .js {
            margin: 40px 0; 
      }

}

/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/


@media (min-width: 899px) and (max-width: 1199px) {

      .js {
            margin: 0;
      }

}

/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/
/***************************************************/


@media (min-width: 480px) and (max-width: 767px) {

      .content-heading h1 {
            font-size: 28px;
            margin-bottom: 20px;
      }

      .content-heading {
            display: flex;
            flex-wrap: wrap;
            max-width: 300px;
      }

      .navigation ul {
            display: flex;
            flex-wrap: wrap;
      }

      .navigation {
            width: 150px;
      }

      body {
            background-image: url(../img/whitebook-HD-opacity\(2\).png);
            background-repeat: no-repeat;
            background-size: 200% 100%;
      }

      .head-content {
            text-align: center;
            font-size: 40px;
            font-family: 'Prompt', sans-serif;
            color: #314e7d;
            margin: 30px;
            letter-spacing: 2px;
      }

      .navigation ul li a {
            font-size: 18px;
      }

      .body-content {
            flex-wrap: wrap;
      }

      .html, .css, .js {
            margin: 20px;
      }

}

/*****************************************************/
/*****************************************************/
/*****************************************************/
/*****************************************************/
/*****************************************************/
/*****************************************************/



@media (min-width: 320px) and (max-width: 439px) {

      body {
            background-image: url(../img/whitebook-HD-opacity\(2\).png);
            background-repeat: no-repeat;
            object-fit: cover;
            background-size: 200% 100%;
      }

      .content-heading h1 {
            font-size: 27px;
            text-indent: 20px;
            max-width: 200px;
      }

      .content-heading {
            flex-wrap: wrap;
            max-width: 200px;
      }

      .navigation ul {
            display: flex;
            margin-right: 40px;
            flex-wrap: wrap;
      }

      .navigation {
            width: 150px;
      }
      
      li a {
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
            margin: 0 20px;
            font-size: 18px;
            color: #1b2a42;
            opacity: 0.6;
            transition: .3s ease !important;
      }

      .head-content {
            font-size: 45px;
            margin-top: 0;
      }

      .body-content {
            flex-wrap: wrap;
      }

      .html, .css, .js {
            width: 250px;
            height: 280px;
      }

      .css, .js {
            margin-top: 20px;
      }

}
